.center-content{
    display: flex;
    justify-content: center;
}



.field{
    height: 60px;
    width: 60px;

}

.game-info-main{
    @extend .center-content;
    border: 1px;
    border-style: solid;
    margin: 1 5px;
    padding: 5px

}

.game-board-main{
    @extend .center-content;
}

logging-user{
   // @extend .center-content;
    width: 100%;
    border: 2px;
    border-style: ridge;
}

.user-main-panel{
    width: 100%;
    padding: 20px;
}